{% extends 'base.html.twig' %}

{% block title %}Listas{% endblock %}

{% block body %}
    <h1>Listas</h1>

    {% for lista in listas %}
    <h4>{{ lista }}</h4>
    <p>
        <a href="{{ path('lista', { id: lista.id }) }}">View</a>
    </p>
    {% endfor %}

{% endblock %}
