{% extends 'base.html.twig' %}

{% block title %}Listas{% endblock %}

{% block body %}
    <h1 class="my-4">Listas</h1>

    <ul class="list-group">
        {% for lista in listas %}
            <li class="list-group-item">
                {{ lista }}
                <span class="ms-auto">
                    <a href="{{ path('lista', { id: lista.id }) }}">View</a>
                    <a href="{{ path('listaDelete', { id: lista.id }) }}">Delete</a>
                </span>
            </li>
        {% endfor %}
    </ul>

    <a href="{{ path('listaCreate')}}" class="btn btn-success mt-4">New</a>

{% endblock %}
